* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.container {
  max-width: 1366px;
  width: 100%;
  margin: 0 auto;
  padding: 14px 0;
}

header {
  width: 100%;
  box-shadow: 0 5px 30px 10px rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid #ccc;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  background-color: #fff;
}

header .container {
  display: flex;
  justify-content: center;
  align-items: center;
}

header .container a,
h1 {
  margin-left: auto;
}

header .container a {
  background-color: red;
  border-radius: 10px;
  padding: 14px;
  text-decoration: none;
  color: #fff;
}

header {
  font-family: "Fragment Mono", monospace;
  font-weight: normal;
}

body,
header .container a,
.contact h3 {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
}

body {
  height: 100vh;
  display: grid;
  grid-template-rows: 75px 5fr;
  grid-template-columns: 0.15fr 1fr;
  grid-template-areas:
    "header header"
    "aside main"
    "aside footer";
}

header {
  grid-area: header;
}

aside {
  grid-area: aside;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}

/* aside */

#lateral-menu {
  border: none;
}

#lateral-menu .container {
  height: 100%;
  width: 13%;
  background-color: #fff;
  padding: 24px;
  position: fixed;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}

#lateral-menu .container .categories {
  padding: 24px 0;
}

#lateral-menu li {
  list-style-type: none;
  margin-bottom: 18px;
}

#lateral-menu li a {
  text-decoration: none;
  color: #333;
}

#lateral-menu .line-break {
  width: 80%;
  height: 1px;
  margin: 10px auto;
  background-color: rgba(0, 0, 0, 0.2);
}

#lateral-menu .contact {
  padding: 24px 0;
}

#lateral-menu .contact h3 {
  color: rgba(51, 51, 51, 0.6);
  margin-bottom: 18px;
  text-align: center;
}

#lateral-menu .contact ul {
  display: flex;
  justify-content: space-around;
}

#lateral-menu .contact li img {
  height: 30px;
  width: 30px;
  object-fit: contain;
}
